<h1>This is Rails Hotwire homepage</h1>
<div><%= link_to "Enter to other page", other_index_path %></div>
<script>
document.addEventListener("turbo:load", function() {
  console.log("Hello from turbo:load event");
});
</script>
